.desc__item {
  display: flex;
  margin: 33px 45px;


}


.desc__item_pic {
  width: 25px;
  height: 25px;
  margin-right: 25px;
}

.desc__icon {
  width: 100%;
  height: 100%;
}

.desc__item_text {
  font-size: 13px;
}

