.extras {
  display: flex;
  margin-bottom: 95px;
}

.extras__col {
  margin-right: 20px;
  flex: 1;
}

.extras__col:last-child {
  margin-right: 0;
}

.extras__best {
  text-align: center;
  color: #fff;
  background: #232323;
  font-size: 50px;
  font-weight: bold;
  font-family: var(--titleFont);
  text-transform: uppercase;
  padding: 39px 10%;
  display: block;
  text-decoration: none;
  line-height: 1;
}

.extras__col-socials {
  display: flex;
  align-items: center;
  justify-content: center;
}
.extras__col-socials {
  height: 100%;
  background: url('../images/bg/pattern.png') center center / 500px;
}
