@font-face {
  font-family: 'alegreya';
  src: url('../fonts/alegreyasanssc-black-webfont.woff2') format('woff2'),
    url('../fonts/alegreyasanssc-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}