.products__item {
  width: 302px;
  height: 386px;
  background: var(--yellow);
  margin-bottom: 35px;
  margin-left: 27px;
  position: relative;
}

.products__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.products__item:hover .products__desc {
  transform: translateY(0);
}

.products__desc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 23px 30px;
  background: rgba(35, 35, 35, .8);
  font-size: 15px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(100%);
  transition: transform .3s;
}

.product__img {
  display: block;
  max-width: 90%;
  max-height: 100%;
}

.products__desc-text {
  text-align: center;
  margin-bottom: 18px;
}

.products {
  margin-bottom: 160px;
  
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -28px;
  height: 100%;
}

.products__item--color-black {
  background: #232323;
}

.products__item--size-double {
  width: 630px;
  height: 544px;
}

/*  */

.products__price {
  position: absolute;
  top: 18px;
  left: -6px;
  width: 126px;
  border-bottom: 45px solid #232323;
  border-left: 5px solid transparent;
  border-right: 2px solid transparent;
  transform: rotate(-181deg);
}

.products__price-amound {
  font-size: 30px;
  font-weight: bold;
  font-family: var(--titleFont);
  color: #fff;
  transform: rotate(181deg);
  position: absolute;
  top: 2px;
  right: 28px;
}

.products__item--color-black .products__price {
  border-bottom-color: var(--yellow);
}

.products__item--color-black .products__price-amound {
  color: #212121;
}
